@mixin widget-p2020-filter-gridicon($id-slug, $icon-name) {
	#widget-filter-#{$id-slug} .widget-filter-item-link-icon::before {
		@include icon("custom-#{$icon-name}", pxrem(24), currentColor);
	}
}

.widget_p2020-filter-widget {
	#widget-filter-me {
		margin-top: pxrem(40);
	}

	.widget-filter-me-title {
		margin-bottom: pxrem(12);
		display: flex;
		width: 100%;
		justify-content: space-between;
		align-items: flex-end;
	}

	.widget-filter-me-label {
		display: inline-block;
		font-size: pxrem(18);
		font-weight: 500;
	}

	.widget-filter-item {
		color: var(--color-text);
		line-height: 1.3;
		margin: 0 pxrem(-10);
		padding: pxrem(1) 0;

		.widget-filter-item-link {
			color: inherit;
			display: flex;
			align-items: center;
			padding: pxrem(6) pxrem(10);
			border-radius: 4px;
			transition: var(--transition-quick);

			&:hover,
			&:focus {
				background: var(--color-background-light);
				outline: 0;
			}
		}

		&.is-active {
			.widget-filter-item-link {
				color: var(--color-link);
				background: var(--color-link-background);
			}

		}

		.widget-filter-item-link-icon {
			margin-right: 0.5em;
			display: flex;
		}

		.widget-filter-item-link-label {
			flex: 2;
			vertical-align: top;
			font-size: pxrem(13);
			font-weight: 500;
		}

		.widget-filter-item-link-unread {
			justify-self: flex-end;
			background: var(--color-link);
			color: var(--color-white);
			border-radius: 100px;
			font-size: pxrem(11);
			font-weight: 500;
			padding: pxrem(3) pxrem(8);
		}
	}

	// Icons
	@include widget-p2020-filter-gridicon("recent-updates", "posts");
	@include widget-p2020-filter-gridicon("unresolved-posts", "tack");
	@include widget-p2020-filter-gridicon("recent-comments", "comment");
	@include widget-p2020-filter-gridicon("my-mentions", "mention");
	@include widget-p2020-filter-gridicon("my-posts", "user");
}

.p2020-post-read-more > .o2-post {
	max-height: 20em;
	overflow: hidden;
	position: relative;

	.p2020-post-read-more-mask {
		background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, var(--color-white) 60%);
		bottom: 0;
		left: 0;
		margin: 0;
		padding: 70px 0 40px;
		position: absolute;
		text-align: center;
		width: 100%;

		.p2020-post-read-more-trigger {
			background: var(--color-link);
			border: none;
			border-radius: 4px;
			color: var(--color-white);
			font-size: pxrem(14);
			font-weight: 500;
			padding: pxrem(10) pxrem(20);
			box-shadow: 0 1px 2px rgba($p2020-black, 0.1);
			transition: background var(--transition-quick);

			&:hover {
				background: var(--color-link-dark);
			}
		}
	}
}

.p2020-comment-read-more > .comment-content {
	.p2020-comment-read-more-excerpt,
	.p2020-comment-read-more-excerpt > p {
		background: none;
		color: var(--color-text-light);
		max-height: 2em;
		overflow: hidden;
		padding: 0;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	.p2020-comment-read-more-mask {
		display: inline-flex;
		float: right;
		padding: 0 1em;

		.p2020-comment-read-more-trigger {
			text-decoration: none;
			white-space: nowrap;

			&:hover {
				color: var(--color-link-dark);
			}
		}
	}
}

.p2020-comments-summary {
	border: inherit;
	border-top: 1px solid var(--color-border);
	color: var(--color-text-light);
	line-height: inherit;
	padding: 1em 10%;
	position: relative;
	text-align: left;
	width: 100%;

	.p2020-comments-summary-count {
		vertical-align: middle;
	}

	.p2020-comments-summary-avatars {
		margin-left: 1em;

		img {
			border: 2px solid var(--color-white);
			margin-left: -0.4em;
			vertical-align: bottom;
			width: 1.8em;
		}
	}
}

.p2020-inactive-thread {
	display: none;
}
