.widget_p2020-pages-widget {
	.widget-title {
		align-items: flex-end;
		display: flex;
		margin-bottom: 1.25rem;
		justify-content: space-between;
		width: 100%;
	}

	/* We want the hover background to cover the entire line,
		hence, we remove nested ul margins and hardcode
		left paddings based on nesting level */
	ul ul {
		margin: 0;
	}

	ul ul .widget-p2020-pages-label {
		padding-left: 1em;
	}

	ul ul ul .widget-p2020-pages-label {
		padding-left: 2em;
	}

	ul ul ul ul .widget-p2020-pages-label {
		padding-left: 3em;
	}

	ul.subtree-collapsed {
		display: none;
	}

	li.page_item {
		a {
			color: inherit;
		}

		.widget-p2020-pages-label {
			display: flex;
			align-items: center;
			border-radius: 4px;
			position: relative;
			margin: pxrem(1) 0;
			transition: var(--transition-quick);

			.widget-p2020-pages-link { 
				display: flex;
				width: 100%;

				a {
					display: flex;
					font-size: pxrem(13);
					font-weight: 500;
					padding: pxrem(7) pxrem(24);
					width: 100%;
					line-height: 1.6;
				}
			}

			.widget-p2020-pages-add {
				position: absolute;
				right: 8px;
				transition: var(--transition-quick);
				a {
					display: flex;
					opacity: 0.6;

					&:hover {
						opacity: 1;
					}
				}
			}

			.widget-p2020-pages-expand {
				position: absolute;
				margin-left: 4px;
				display: flex;

				button {
					border: none;
					color: inherit;
					transition: transform var(--transition-quick);

					@include icon("custom-chevron-down", pxrem(18), currentColor);

					&.btn-collapsed {
						transform: rotate(-90deg);
					}

					&:not(.btn-collapsed):not(.btn-expanded) {
						display: none;
					}
				}
			}

			&:hover {
				background-color: var(--color-background-light);

				> .widget-p2020-pages-add a::before {
					@include icon("custom-add", pxrem(18), currentColor);
					vertical-align: middle;
				}

				> .widget-p2020-pages-link a {
					color: inherit;
				}
			}
		}

		&.current_page_item {
			> .widget-p2020-pages-label {
				color: var(--color-link);
				background: var(--color-link-background);
			}
		}
	}
}
