.empty-menu-list {
	font-size: pxrem(15);
}

.p2020-sidebar-menu__pages,
.p2020-sidebar-menu__nav {

	background-color: inherit;

	ul.is-collapsed {
		display: none;
	}

	.page-item,
	.menu-item {
		color: var(--color-white);
		display: block;
		position: relative;

		.menu-item-link {
			color: inherit;
			font-size: pxrem(13);
			font-weight: 400;
			text-decoration: none;
			line-height: 1.5;
			padding: 6px 0;
			margin-bottom: 6px;
			position: relative;
			display: block;

			&::before {
				transition: var(--transition-quick);
			}

			&:focus {
				outline: 0;
			}

			&:hover::before,
			&:focus::before {
				content: "";
				position: absolute;
				display: block;
				left: -6px;
				right: 0;
				top: 0;
				height: 100%;
				box-shadow: 0 0 0 1.5px var(--color-link);
				border-radius: 1px;
			}
		}

		a:not(.menu-item-link) {
			color: inherit;
			font-size: pxrem(13);
			font-weight: 400;
			text-decoration: none;
			line-height: 1.5;
			padding: 6px 0;
			margin-bottom: 6px;
			position: relative;
			display: block;
			opacity: 0.5;
		}

		.menu-item-toggle {
			padding: 1px;
			border: none;
			background-color: inherit;
			color: inherit;
			display: inline-block;
			line-height: 2.5;
			position: absolute;
			left: -28px;
			top: 4px;
			border-radius: 1px;
			outline: 0;

			&::before {
				@include icon("custom-chevron-right", pxrem(18), currentColor);
				transition: var(--transition-quick);
				opacity: 0.8;
			}

			&.is-expanded::before {
				transform: rotate(90deg);
			}

			&:focus-visible {
				box-shadow: 0 0 0 1.5px var(--color-link);
			}

			&:hover::before {
				opacity: 1;
			}
		}
	}

	/* Hide toggle if no subtree */
	.page-item:not(.page-item-has-children) {
		.menu-item-toggle {
			display: none;
		}
	}

	.menu-item:not(.menu-item-has-children) {
		.menu-item-toggle {
			display: none;
		}
	}

	> ul:not(.children) {
		> .page-item {
			margin-bottom: 4px;

			/* Bigger text for first-level items */
			> .menu-item-link {
				font-size: pxrem(15);
				font-weight: 600;
				padding: 4px 0;
			}

			/* Unindent first-level subtrees (second-level items) */
			ul.children {
				margin-left: 16px;
			}
		}
	}

	> ul:not(.sub-menu) {
		> .menu-item {

			/* Bigger text for first-level items */
			> .menu-item-link,
			> a {
				font-size: pxrem(15);
				font-weight: 600;
				padding: 4px 0;
			}

			/* Unindent first-level subtrees (second-level items) */
			ul.sub-menu {
				margin-left: 16px;
			}
		}
	}

	.current-page-item > a::before {
		content: "";
		position: absolute;
		left: -6px;
		right: 0;
		top: 0;
		height: 100%;
		background: var(--color-link);
		box-shadow: 0 0 0 1.5px var(--color-link);
		border-radius: 2px;
		z-index: -1;
	}
}
