.p2020-follow {
	display: none;
	background: none;
	border: none;
	color: var(--color-link);
	cursor: pointer;
	padding: 4px 0;
	font-family: var(--font-default);
	font-size: pxrem(14);

	&.is-loading {
		pointer-events: none;
		opacity: 0.65;
		filter: alpha(opacity=65);
	}

	&.unfollow:hover {
		span {
			display: none;
		}

		&::before {
			content: "Unfollow";
		}
	}
}
